{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "page.css" %}">
  </head>
  <body>
    <div class="header">
      <p class="header-text"><a href="">Argentinet</a></p>
      <p class="log-out-button"><a href="{% url "logout" %}">Log Out</a></p>
    </div>
    <p class="explanation">The Argentine Republic, the largest Spanish-speaking country in the world, and the eight-largest country in total. In the future, this website will hopefully serve as a collective hub for information about this country, ranging from history, polititcs, and culture.</p>
  </body>
</html>
